html, body {
  margin: 0;
  padding: 0;
  background-color: #272322;
}

body {
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
}

@media(max-width: 600px) {
  body {
    background-image: none;
  }
}
